#welcome {
    text-align: center
}
.welcome-text {
    width: 80%;
    margin: auto;
    text-align: center
}
.easy {
    font-family: 'Dancing Script', cursive;
}
.vegan {
    font-family: 'Bitter', serif;
    color: #4CD103
}
.sitename {
    font-size: 200%
}
.recipeDiv {
    padding-top: 10px;
}
.hiddenMobile {
    display: none !important;
}


