#welcome {
    text-align: center;
    height: 100vh;
    vertical-align: center;
}
.welcome-text {
    /* width: 80%; */
    margin: auto;
    text-align: center
}

.navCards {
    width: 20rem;
    margin: auto;
    /* border: 1px solid black !important; */
}
.nav-links:hover {
    color: #51a807 !important;
}
.hoverlinks:hover {
    color: #51a807 !important
}
.easy {
    font-family: 'Dancing Script', cursive;
}
.vegan {
    font-family: 'Bitter', serif;
    color: #4CD103
}
.sitename {
    font-size: 200%
}
.recipeDiv {
    padding-top: 10px;
}
.hiddenMobile {
    display: none !important;
}
a {
    color: black !important;
}
.landingLi{
    margin: 0px auto;
}
.landingIngred, .landingInstruc {
    margin: 0 auto;
}


