
.recipesDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5%;
}
.articletitle {
  background-color: #51a807 !important;
  opacity: .9;
  padding: 5px;
}
.articletitle p {
  color: white !important;
  font-family: 'Bitter', serif !important;
}
.news-cards {
  border: none !important;
}