.articletitle {
  background-color: rgba(0,0,0,0.7);
}
.articletitle p {
  color: white;
  font-family: 'Roboto', sans-serif;
}
.news-cards {
  margin: 10px;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}